/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .home-section .home-text p {
        color: var(--text-black-300);
        font-size: 16px;
        text-transform: capitalize;
        margin: 0;
    }
    .home-section .home-text h2 {
        font-size: 34px;
        font-weight: 700;
        color: white;
        margin: 0;
    }
    .home-section .home-text h1 {
        font-size: 18px;
        font-weight: 500;
        color: var(--text-black-300);
        margin: 0;
        text-transform: capitalize;
    }
    .effect-points, .skills{
        display: none;
    }
    .work1{
        left: 10%;
    }
    .work2{
        left: 10%;
    }
    .work3{
        left: 10%;
    }
    .work4{
        left: 10%;
    }
    .work5{
        left: 10%;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
